*{
    margin: 0;
    padding: 0;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left img{
    margin-left: 5px;
    height: 60px;
}

.header-left span{
    cursor: pointer;
    padding: 8px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}

.header-middle{
    background-color: #e9eef6;
    padding: 8px;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    /* width: 60%; */
    flex: 0.7;
    
}

.material-symbols-outlined{
    color: #808080;
}

.header-middle input{
    background-color: transparent;
    padding: 8px;
    outline: none;
    border: none;
    width: 100%;
    font-size: medium;
}

.header-right{
    display: flex;
    padding-right: 20px;

}

.header-right span{
    padding: 8px;
    cursor: pointer;
}

.left-side{
    flex: 0.3;
    width: 300px;
    padding-right: 20px;
}


.compose-button{
    /* margin-top: 13px;
    margin-left: 10px;
    margin-bottom: 13px; */
    margin: 13px 8px 13px 8px;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: grey;
    outline: none;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

.compose-button span{
    margin-right: 10px;
}

.sidebar-option{
    display: flex;
    align-items: center;
    /* margin-left: 13px; */
    height: 40px;
    padding:0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: grey;
    cursor: pointer;
    

}

.sidebar-option .material-symbols-outlined{
    padding: 5px;
}

.sidebar-option h3{
    flex: 1;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 400;
}


.sidebar-option:hover,
.sidebar-option:hover h3, 
.sidebar-option:hover .material-symbols-outlined,
.sidebar-option_active ,
.sidebar-option_active h3,
.sidebar-option_active .material-symbols-outlined
{
    background-color: #fcecec;
    color: #c04b37;
    font-weight: 800;
}

.footer{
    display: flex;
    justify-content: center;
}


.sidebar-footerIcons .material-symbols-outlined{
    margin: 7px;
    cursor: pointer;

}


.main-body{
    display: flex;
    height: 100vh;
}

body{
    height: 100vh;
    overflow: hidden;
}

.emailList{
    flex: 1;
    overflow: scroll;
}

.emailList__settings{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #f5f5f5;
    background-color: #ffffff;
    padding: 8px;
    z-index: 999;
}

.emailList__settingsLeft {
    display: flex;
    align-items: center;
  }

  .emailList__settings .material-symbols-outlined {
    margin: 5px;
    cursor: pointer;
  }
  

  .emailList__sections{
    position: sticky;
    top: 0;
    display: flex;
    color: #ffffff;
    border-bottom: 1px solid #f5f5f5;
    z-index: 999;

  }

  .section{
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    color: grey;
    border-width: 0;
  }
  
  .section__selected{
    background-color: #ffffff;
    border-width: 3px;
    color: #f30707;
    border-bottom: 2px solid red;
    
  }

  .section__selected .material-symbols-outlined{
    color: red;
  }

  .section:hover {
    background-color: #f5f5f5;
    border-width: 3px;
  }
  
  .section h4 {
    font-size: 14px;
    margin-left: 15px;
  }
  
  .emailRow{
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
    z-index: 999;
  }

  .emailRow__options {
    display: flex;
    align-items: center;
  }


  .emailRow__options .material-symbols-outlined {
    margin: 5px;
  }

  .emailRow:hover {
    border-top: 1px solid whitesmoke;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
  }

 .emailRow__message {
    display: flex;
    flex: 0.8;
    align-items: center;
    font-size: 15px;
 }

 .emailRow__message h4 {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
  }

  .emailRow__title {
    font-size: 16px;
    flex: 0.4;
  }

  .emailRow__time {
    padding-right: 15px;
    font-size: 13px;
    font-weight: bold;
  }
  

  .emailRow__description {
    font-weight: 400;
    color: gray;
  }