*{
    margin: 0;
    padding: 0;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left img{
    margin-left: 5px;
    height: 60px;
}

.header-left span{
    cursor: pointer;
    padding: 8px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}

.header-middle{
    background-color: #e9eef6;
    padding: 8px;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    /* width: 60%; */
    flex: 0.7;
    
}

.material-symbols-outlined{
    color: #808080;
}

.header-middle input{
    background-color: transparent;
    padding: 8px;
    outline: none;
    border: none;
    width: 100%;
    font-size: medium;
}

.header-right{
    display: flex;
    padding-right: 20px;

}

.header-right span{
    padding: 8px;
    cursor: pointer;
}

.left-side{
    flex: 0.3;
    width: 300px;
    padding-right: 20px;
}

