*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.forget-password {
    position: absolute;
    left: 10%;
  }
  .forget-password a {
    color: rgb(41, 41, 82);
    font-size: 1rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
  }
  
  .forget-password a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(33, 10, 165, 0.9),
      0px 0px 12px rgba(20, 201, 60, 0.7);
  }